@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-rounded-hole {
    mask-image: radial-gradient(circle at top left, transparent 70%, black 51%);
    -webkit-mask-image: radial-gradient(circle at top left, transparent 70%, black 51%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  .mask-rounded-hole-testimonial-left {
    mask-image: radial-gradient(circle at 3px 3px, transparent 69%, black 51%);
    -webkit-mask-image: radial-gradient(circle at 3px 3px, transparent 69%, black 51%);
    mask-size: 90% 90%;
    mask-repeat: no-repeat;
  }

.mask-rounded-hole-testimonial-right {
  mask-image: radial-gradient(circle at calc(100% - 3px) 3px, transparent 69%, black 51%);
  -webkit-mask-image: radial-gradient(circle at calc(100% - 3px) 3px, transparent 69%, black 51%);
  mask-size: 90% 90%;
  mask-repeat: no-repeat;
}


  .mask-rounded-hole-card {
    mask-image: radial-gradient(circle at 2px 2px, transparent 70%, black 51%);
    -webkit-mask-image: radial-gradient(circle at 2px 2px, transparent 70%, black 51%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  .cut-corner-bottom-right {
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 50px),
        calc(100% - 62px) calc(100% - 50px),
        calc(100% - 62px) 100%,
        0 100%);
  }

  /* New gradient border class */
.gradient-border {
  background: linear-gradient(to right, #7c3aed, #3b82f6);
  border-radius: 0.75rem; /* tương ứng với Tailwind: rounded-md */
  display: inline-block;
  padding: 1px; /* độ dày viền */
}

}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
  text-stroke: 1.5px white;
  font-weight: 700;
  font-size: 7rem; /* Adjust size as needed */
  line-height: 1;
 }
/* Added styles for Swiper pagination positioning */
.swiper-container-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.custom-swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background: #000;
  opacity: 0.6;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #4f46e5; /* Indigo-600 */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}